<ol class="items-list">
    <li class="items-header flexrow">
        <h3 class="item-name flexrow">{{localize "PILLARS.Benefits"}}</h3>
        <div class="item-controls">
            <a class="item-control item-create" title="Create" data-type="attribute" data-category="benefit"><i class="fas fa-plus"></i></a>
        </div>
    </li>

    <ol class="items">
        {{#each items.attributes.benefits as |item i|}}
        <li class="item" draggable="true" data-item-id="{{item.id}}">
            <div class="row-content">

                <div class="item-name flexrow item-dropdown">
                    <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                    <a>
                        <h4>{{item.name}}</h4>
                    </a>
                </div>

                <div class="item-controls flexrow">
                    {{#if ../owner}}
                    <a class="item-control item-post" title="Post Item"><i class="fas fa-comment"></i></a>
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-dropdown" title="Dropdown"><i class="fas fa-chevron-down"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    {{/if}}
                </div>
            </div>
        </li>
        {{/each}}
    </ol>
</ol>
<ol class="items-list">
    <li class="items-header flexrow">
        <h3 class="item-name flexrow">{{localize "PILLARS.Hindrances"}}</h3>
        <div class="item-controls">
            <a class="item-control item-create" title="Create" data-type="attribute" data-category="hindrance"><i class="fas fa-plus"></i></a>
        </div>
    </li>

    <ol class="items">
        {{#each items.attributes.hindrances as |item i|}}
            <li class="item" draggable="true" data-item-id="{{item.id}}">
            <div class="row-content">

            <div class="item-name flexrow item-dropdown">
                <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                <a>
                    <h4>{{item.name}}</h4>
                </a>
            </div>

            <div class="item-controls flexrow">
                {{#if ../owner}}
                <a class="item-control item-post" title="Post Item"><i class="fas fa-comment"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-dropdown" title="Dropdown"><i class="fas fa-chevron-down"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                {{/if}}
            </div>
        </div>
        </li>
        {{/each}}
    </ol>
</ol>
<ol class="items-list">
    <li class="items-header flexrow">
        <h3 class="item-name flexrow">{{localize "PILLARS.Traits"}}</h3>
        <div class="item-controls">
            <a class="item-control item-create" title="Create" data-type="trait"><i class="fas fa-plus"></i></a>
        </div>
    </li>

    <ol class="items">
        {{#each items.traits as |item i|}}
        <li class="item" draggable="true" data-item-id="{{item.id}}">
            <div class="row-content">

            <div class="item-name flexrow item-dropdown">
                <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                <a>
                    <h4>{{item.name}}</h4>
                </a>
            </div>

            <div class="item-controls flexrow">
                {{#if ../owner}}
                <a class="item-control item-post" title="Post Item"><i class="fas fa-comment"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-dropdown" title="Dropdown"><i class="fas fa-chevron-down"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                {{/if}}
            </div>
            </div>
        </li>
        {{/each}}
    </ol>
</ol>

<ol class="items-list">
    <li class="items-header flexrow">
        <h3 class="item-name flexrow">{{localize "PILLARS.Skills"}} <a title="Roll Untrained Skill" class="roll-untrained"><img src="icons/dice/d10black.svg" height="20" width="20"/></a></h3>
        <span class="item-property-column">{{localize "PILLARS.Rank"}}</span>
        <div class="item-controls">
            <a class="item-control item-create" title="Create" data-type="skill"><i class="fas fa-plus"></i></a>
        </div>
    </li>

    <ol class="items">
        {{#each items.skills as |item i|}}
        <li class="item" draggable="true" data-item-id="{{item.id}}">
            <div class="row-content">

            <div class="item-name skill-roll flexrow item-dropdown-alt">
                <a>
                    <h4>{{item.name}}</h4>
                </a>
            </div>

            <span class="item-property-column"><input class="item-property" type="number" data-target="system.modifier.value" value="{{system.modifier.value}}"></span>

            <div class="item-controls flexrow">
                {{#if ../owner}}
                <a class="item-control item-post" title="Post Item"><i class="fas fa-comment"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-dropdown" title="Dropdown"><i class="fas fa-chevron-down"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                {{/if}}
            </div>
            </div>
        </li>
        {{/each}}
    </ol>
</ol>

{{#if items.equipped.armor.length}}
<ol class="items-list armor">
    <li class="items-header flexrow">
        <h3 class="item-name flexrow">{{localize "PILLARS.Armor"}}</h3>
        <span class="item-property-column">{{localize "PILLARS.Soak"}}</span>
        <span class="item-property-column">{{localize "PILLARS.Winded"}}</span>
        <span class="item-property-column">{{localize "PILLARS.Init"}}</span>
        <div class="item-controls"></div>
    </li>

    <ol class="items">
        {{#each items.equipped.armor as |item i|}}
        <li class="item" draggable="true" data-item-id="{{item.id}}">
            <div class="row-content">

            <div class="item-name flexrow item-dropdown">
                <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                <a>
                    <h4>{{item.name}}</h4>
                </a>
            </div>
            <span class="item-property-column">{{item.soak.value}}</span>
            <span class="item-property-column">{{item.winded.value}}</span>
            <span class="item-property-column">{{item.initiative.value}}</span>

            <div class="item-controls flexrow">
                {{#if ../document.isOwner}}
                <a class="item-control item-post" title="Post Item"><i class="fas fa-comment"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-dropdown" title="Dropdown"><i class="fas fa-chevron-down"></i></a>
                <a class="item-control item-unequip" title="Unequip Item"><i class="fas fa-times"></i></a>
                {{/if}}
            </div>
            </div>
        </li>
        {{/each}}
    </ol>
</ol>
{{/if}}

{{#if items.equipped.shields.length}}
<ol class="items-list shield">
    <li class="items-header flexrow">
        <h3 class="item-name flexrow">{{localize "PILLARS.Shield"}}</h3>
        <span class="item-property-column">{{localize "PILLARS.Deflection"}}</span>
        <span class="item-property-column">{{localize "PILLARS.Soak"}}</span>
        <span class="item-property-column">{{localize "PILLARS.Winded"}}</span>
        <span class="item-property-column">{{localize "PILLARS.Health"}}</span>
        <div class="item-controls"></div>
    </li>

    <ol class="items">
        {{#each items.equipped.shields as |item i|}}
        <li class="item" draggable="true" data-item-id="{{item.id}}">
            <div class="row-content">
            <div class="item-name flexrow item-dropdown">
                <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                <a>
                    <h4>{{item.name}}</h4>
                </a>
            </div>

            <span class="item-property-column">{{item.deflection.value}}</span>
            <span class="item-property-column">{{item.soak.value}}</span>
            <span class="item-property-column">{{item.winded.value}}</span>
            <span class="item-property-column"><a class="property-counter" data-target="item" data-item-target="system.health.current">{{item.health.current}}</a>/{{item.health.max}}</span>

            <div class="item-controls flexrow">
                {{#if ../document.isOwner}}
                <a class="item-control item-post" title="Post Item"><i class="fas fa-comment"></i></a>
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-dropdown" title="Dropdown"><i class="fas fa-chevron-down"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                {{/if}}
            </div>
            </div>
        </li>
        {{/each}}
    </ol>
</ol>
{{/if}}

{{#if items.equipped.meleeWeapons.length}}
    <ol class="items-list">
        <li class="items-header flexrow">
            <h3 class="item-name flexrow">{{localize "PILLARS.MeleeWeapons"}}</h3>
            <span class="item-property-column">{{localize "PILLARS.Skill"}}</span>
            <span class="item-property-column">{{localize "PILLARS.Misc"}}</span>
            <span class="item-property-column">{{localize "PILLARS.Accuracy"}}</span>
            <span class="item-property-column flex">{{localize "PILLARS.Special"}}</span>
            <div class="item-controls"></div>
        </li>

        <ol class="items weapons">
            {{#each items.equipped.meleeWeapons as |item i|}}
            <li class="item" draggable="true" data-item-id="{{item.id}}">
                <div class="row-content">

                <div class="item-name flexrow weapon-roll item-dropdown-alt">
                    <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                    <a>
                        <h4>{{item.name}}</h4>
                    </a>
                </div>

                <span class="item-property-column">{{item.Skill.rank}}</span>
                <span class="item-property-column"><input class="item-property" type="number" data-target="item.misc.value" value="{{item.misc.value}}"></span>
                <span class="item-property-column"><input class="item-property" type="number" data-target="item.accuracy.value" value="{{item.accuracy.value}}"></span>
                <span class="item-property-column flex item-specials">{{{array item.Specials "item-special"}}}</span>

                <div class="item-controls flexrow">
                    {{#if ../owner}}
                    <a class="item-control item-post" title="Post Item"><i class="fas fa-comment"></i></a>
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-dropdown" title="Dropdown"><i class="fas fa-chevron-down"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    {{/if}}
                </div>
                </div>
            </li>
            {{/each}}
        </ol>
    </ol>
    {{/if}}

    {{#if items.equipped.rangedWeapons.length}}
    <ol class="items-list">
        <li class="items-header flexrow">
            <h3 class="item-name flexrow">{{localize "PILLARS.RangedWeapons"}}</h3>
            <span class="item-property-column">{{localize "PILLARS.Skill"}}</span>
            <span class="item-property-column">{{localize "PILLARS.Misc"}}</span>
            <span class="item-property-column">{{localize "PILLARS.Accuracy"}}</span>
            <span class="item-property-column">{{localize "PILLARS.Range"}}</span>
            <span class="item-property-column flex">{{localize "PILLARS.Special"}}</span>
            <div class="item-controls"></div>
        </li>

        <ol class="items weapons">
            {{#each items.equipped.rangedWeapons as |item i|}}
            <li class="item" draggable="true" data-item-id="{{item.id}}">
                <div class="row-content">

                <div class="item-name flexrow weapon-roll item-dropdown-alt">
                    <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                    <a>
                        <h4>{{item.name}}</h4>
                    </a>
                </div>

                <span class="item-property-column">{{item.Skill.xp.rank}}</span>
                <span class="item-property-column">{{item.misc.value}}</span>
                <span class="item-property-column">{{item.accuracy.value}}</span>
                <span class="item-property-column">{{item.range.value}}</span>
                <span class="item-property-column flex">{{{array item.Specials "item-special"}}}</span>

                <div class="item-controls flexrow">
                    {{#if ../owner}}
                    <a class="item-control item-post" title="Post Item"><i class="fas fa-comment"></i></a>
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-dropdown" title="Dropdown"><i class="fas fa-chevron-down"></i></a>
                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    {{/if}}
                </div>
                </div>
            </li>
            {{/each}}
        </ol>
    </ol>
    {{/if}}