<form class="{{cssClass}}" autocomplete="off">

    <section class="general">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
        <div>
            <div class="form-group">
                <label>Size</label>
                <input type="number" value="{{system.size}}" name="system.size">
            </div>
            <div class="form-group">
                <label>Residents</label>
                <input type="number" value="{{system.residents.total}}" disabled>
            </div>
            <div class="form-group">
                <label>Staff</label>
                <input type="number" value="{{system.staff.total}}" disabled>
            </div>
            <div class="form-group">
                <label>Treasury  <a class="transfer"><i class="fa-solid fa-treasure-chest"></i></a></label>
                <input type="number" name="system.treasury.value" value="{{system.treasury.value}}" {{#unless (isGM)}}disabled{{/unless}}>
            </div>
            <div class="form-group">
                <label>Disrepair</label>
                <input type="number" name="system.disrepair.value" value="{{system.disrepair.value}}">
            </div>
        </div>

        <div class="log">
            <h3>Log</h3>
            {{{this.log}}}
        </div>

    </section>

    <section class="sheet-content">
        <div class="name-header">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
            </h1>
        </div>

        <section class="tab-section">
            <nav class="sheet-tabs tabs">
                <a  class="tab-select item active" data-tab="residents">{{localize "PILLARS.Residents"}}</a>
                <a  class="tab-select item" data-tab="accommodations">{{localize "PILLARS.Accommodations"}}</a>
                <a  class="tab-select item" data-tab="library">{{localize "PILLARS.Library"}}</a>
                <a  class="tab-select item" data-tab="defenses">{{localize "PILLARS.Defenses"}}</a>
            </nav>
            <div class="tab-content">
                <div class="tab residents save-scroll" data-tab="residents">
                    {{> systems/pillars-of-eternity/templates/actor/headquarters/actor-residents.html}}
                </div>
                <div class="tab accommodations save-scroll" data-tab="accommodations">
                    {{> systems/pillars-of-eternity/templates/actor/headquarters/actor-accommodations.html}}
                </div>
                <div class="tab library save-scroll" data-tab="library">
                    {{> systems/pillars-of-eternity/templates/actor/headquarters/actor-library.html}}
                </div>
                <div class="tab defenses save-scroll" data-tab="defenses">
                    {{> systems/pillars-of-eternity/templates/actor/headquarters/actor-defenses.html}}
                </div>
            </div>
        </section>
    </section>
</form>