<form class="{{cssClass}} npc" autocomplete="off">
    <section class="general">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
        <div class="subtype">
            <select name="system.subtype.value">
                {{#select system.subtype.value}}
                <option value=""></option>
                {{#each (config "followerTypes") as |type t|}}
                <option value="{{t}}">{{type}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <section class="defenses">
            <div class="property-group">
                <label>{{localize "PILLARS.Def"}}</label>
                <div class="property-value">
                    <input type="number" title="{{tooltips.defenses.deflection}}" class="defense-input" data-defense="deflection" value="{{system.defenses.deflection.value}}" />
                </div>
                <div class="property-check">
                    {{#if system.defenses.deflection.checked}}
                    <a class="sheet-checkbox" data-target="system.defenses.deflection.checked"><i class="far fa-check-square"></i></a>
                    {{else}}
                    <a class="sheet-checkbox" data-target="system.defenses.deflection.checked"><i class="far fa-square"></i></a>
                    {{/if}}
                </div>
            </div>

            <div class="property-group">
                <label>{{localize "PILLARS.Fort"}}</label>
                <div class="property-value">
                    <input type="number" title="{{tooltips.defenses.fortitude}}" class="defense-input" data-defense="fortitude" value="{{system.defenses.fortitude.value}}" />
                </div>
                <div class="property-check">
                    {{#if system.defenses.fortitude.checked}}
                    <a class="sheet-checkbox" data-target="system.defenses.fortitude.checked"><i class="far fa-check-square"></i></a>
                    {{else}}
                    <a class="sheet-checkbox" data-target="system.defenses.fortitude.checked"><i class="far fa-square"></i></a>
                    {{/if}}
                </div>
            </div>

            <div class="property-group">
                <label>{{localize "PILLARS.Ref"}}</label>
                <div class="property-value">
                    <input type="number" title="{{tooltips.defenses.reflex}}" class="defense-input" data-defense="reflex" value="{{system.defenses.reflex.value}}" />
                </div>
                <div class="property-check">
                    {{#if system.defenses.reflex.checked}}
                    <a class="sheet-checkbox" data-target="system.defenses.reflex.checked"><i class="far fa-check-square"></i></a>
                    {{else}}
                    <a class="sheet-checkbox" data-target="system.defenses.reflex.checked"><i class="far fa-square"></i></a>
                    {{/if}}
                </div>
            </div>

            <div class="property-group">
                <label>{{localize "PILLARS.Will"}}</label>
                <div class="property-value">
                    <input type="number" title="{{tooltips.defenses.will}}" class="defense-input" data-defense="will" value="{{system.defenses.will.value}}" />
                </div>
                <div class="property-check">
                    {{#if system.defenses.will.checked}}
                    <a class="sheet-checkbox" data-target="system.defenses.will.checked"><i class="far fa-check-square"></i></a>
                    {{else}}
                    <a class="sheet-checkbox" data-target="system.defenses.will.checked"><i class="far fa-square"></i></a>
                    {{/if}}
                </div>
            </div>

        </section>
        <hr>
        <section class="status">
            <div class="health-endurance">
                <div class="property-group {{#if actor.health.bloodied}}bloodied{{/if}}" >
                    <label>{{localize "PILLARS.Health"}}</label>
                    <div class="status-array">
                        {{#each system.health.array as | value key| }}
                        {{#if (eq key ../system.health.threshold.bloodied)}}
                        <span title="{{../tooltips.health.threshold.bloodied}}" class="threshold bloodied">|</span>
                        {{/if}}
                        {{#if (eq key ../system.health.threshold.incap)}}
                        <span title="{{../tooltips.health.threshold.incap}}" class="threshold bloodied">|</span>
                        {{/if}}
                        {{#if (eq value.state 0)}}
                        <a class="box-click {{#if value.bonus}}bonus{{/if}}" data-index="{{key}}" data-target="system.health"><i class="far fa-circle"></i></a>
                        {{else if (eq value.state 1)}}
                        <a class="box-click {{#if value.bonus}}bonus{{/if}}" data-index="{{key}}" data-target="system.health"><i class="far fa-times-circle"></i></a>
                        {{else if (eq value.state 2)}}
                        <a class="{{#if value.bonus}}bonus{{/if}}"><i class="fas fa-times-circle"></i></a>
                        {{else if (eq value.state -1)}}
                        <span class="penalty" data-index="{{key}}" data-target="system.health"><i class="fas fa-times-circle"></i></span>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
                <div class="property-group {{#if actor.endurance.winded}}winded{{/if}}">
                    <label>{{localize "PILLARS.Endurance"}}</label>
                    <div class="status-array">
                        {{#each system.endurance.array as | value key| }}
                        {{#if (eq key ../system.endurance.threshold.winded)}}
                        <span title="{{../tooltips.endurance.threshold.winded}}" class="threshold winded">|</span>
                        {{/if}}
                        {{#if (eq value.state 0)}}
                        <a class="box-click {{#if value.bonus}}bonus{{/if}}" data-index="{{key}}" data-target="system.endurance"><i class="far fa-circle"></i></a>
                        {{else if (eq value.state 1)}}
                        <a class="box-click {{#if value.bonus}}bonus{{/if}}" data-index="{{key}}" data-target="system.endurance"><i class="far fa-times-circle"></i></a>
                        {{else if (eq value.state 2)}}
                        <a class="{{#if value.bonus}}bonus{{/if}}"><i class="fas fa-times-circle"></i></a>
                        {{else if (eq value.state -1)}}
                        <span class="penalty" data-index="{{key}}" data-target="system.endurance"><i class="fas fa-times-circle"></i></span>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="toughness-di">
                    <div class="property-group small">
                        <label>{{localize "PILLARS.ToughAbbrev"}}</label>
                        <div class="property-value">
                            <input type="number" title="{{tooltips.toughness.value}}" name="system.toughness.value" value="{{system.toughness.value}}" />
                        </div>
                    </div>
                    <div class="property-group small">
                        <label>{{localize "PILLARS.DamageIncrementAbbrev"}}</label>
                        <div class="property-value">
                            <input type="number" title="{{tooltips.damageIncrement.value}}" name="system.damageIncrement.value" value="{{system.damageIncrement.value}}" />
                        </div>
                    </div>
            </div>
        </section>
        <hr>
        <section class="wounds-injuries">
            <div class="wounds">
                <div class="wound-group">
                    <div class="wound-label">
                        <label>{{localize "PILLARS.Wounds"}}:</label> {{system.health.wounds.value}} 
                    </div>
                    <div class="wound-buttons">
                        <a class="subtract-wound"> <i class="far fa-minus-square"></i></a>
                        <a class="add-wound"> <i class="far fa-plus-square"></i></a>
                    </div>
    
                </div>
            </div>
                <!--
                <div class="wound-group">
                    <div class="wound-label">
                        <label>Heavy:</label> {{system.health.wounds.heavy}} 
                    </div>
                    <div class="wound-buttons">
                        <a class="subtract-wound" data-type="heavy"> <i class="far fa-minus-square"></i></a>
                        <a class="add-wound" data-type="heavy"> <i class="far fa-plus-square"></i></a>
                    </div>
    
                </div>
                <div class="wound-group">
                    <div class="wound-label">
                        <label>Severe:</label> {{system.health.wounds.severe}} 
                    </div>
                    <div class="wound-buttons">
                        <a class="subtract-wound" data-type="severe"> <i class="far fa-minus-square"></i></a>
                        <a class="add-wound" data-type="severe"> <i class="far fa-plus-square"></i></a>
                    </div>
                </div>
            </div>
            <div class="thresholds">
                <div>Bloodied</div> <input type="number" value="{{system.health.bloodiedThreshold}}"/>
                <div>Winded</div> <input type="number" value="{{system.endurance.windedThreshold}}"/>
            </div> -->
        </section>
        <section>
            <div class="combat-fields">

                <div class="initiative">
                    <h3>{{localize "PILLARS.Initiative"}} <a title="Roll Initiative" class="roll-initiative"><img src="icons/dice/d10black.svg"/></a></h3>
                    <input type="number" class="value" title="{{tooltips.initiative.value}}" name="system.initiative.value" value="{{system.initiative.value}}" />
                </div>
                <div class="stride">
                    <h3>{{localize "PILLARS.Stride"}}: </h3>
                    <input type="number" class="value" title="{{tooltips.stride.value}}" name="system.stride.value" value="{{system.stride.value}}">
                </div>
                <div class="run">
                    <h3>{{localize "PILLARS.Run"}}: </h3>
                    <input type="number" class="value"  title="{{tooltips.run.value}}" name="system.run.value" value="{{system.run.value}}">
                </div>
        
                <div class="soak">
                    <h3>{{localize "PILLARS.Soak"}}: </h3>
                    <input type="number" class="value" title="{{tooltips.soak.base}}" name="system.soak.base" value="{{system.soak.base}}">
                    {{#if items.equipped.shields.length}}
                    <div class="soak-group">
                        <img class="soak-img" src="icons/svg/shield.svg"/>
                        <input class="soak-total" type="number" class="value" title="{{tooltips.soak.shield}}" value="{{system.soak.shield}}">
                    </div>
                    {{/if}}
                    {{#each soaks as |soak s|}}
                    {{#if soak.show}}
                    <div class="soak-group">
                        <img class="soak-img" src="{{soak.img}}"/>
                        <input class="soak-total" type="number" class="value" title="{{lookup ../tooltips.soak s}} " value="{{soak.total}}">
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </section>
    </section>

    </section>
    <section class="sheet-content">
        <div class="name-header">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
            </h1>
        </div>
        <!-- <div class="char-info">
            <div class="info-group" >
                <label>Culture</label>
                <div data-type="culture" class="fake-input open-info">{{system.details.culture}}</div>
            </div>
            <div class="info-group" >
                <label>Species</label>
                <div data-type="species" class="fake-input open-info">{{system.details.species}}</div>
            </div>
            <div class="info-group" >
                <label>Stock</label>
                <div data-type="stock" class="fake-input open-info">{{system.details.stock}}</div>
            </div>
            <div class="info-group" >
                <label>Godlike</label>
                <div data-type="godlike" class="fake-input open-info">{{system.details.godlike}}</div>
            </div>
            <div class="info-group">
                <label>Size</label>
                <input type="text" value="{{system.size.value}}">
            </div>
            <div class="info-group age">
                <label>Apparent Age</label>
                <input type="text" value="{{system.life.apparentAge}}">
            </div>
        </div> -->
        <section class="tab-section">
            <nav class="sheet-tabs tabs">
                <a  class="tab-select item active" data-tab="main">{{localize "PILLARS.Main"}}</a>
                <a  class="tab-select item" data-tab="effects">{{localize "PILLARS.Effects"}}</a>
                <a  class="tab-select item" data-tab="powers">{{localize "PILLARS.Powers"}}</a>
                <a  class="tab-select item" data-tab="inventory">{{localize "PILLARS.Inventory"}}</a>
                <a  class="tab-select item" data-tab="details">{{localize "PILLARS.Details"}}</a>
            </nav>
            <div class="tab-content">
                <div class="tab main save-scroll" data-tab="main">
                    {{> systems/pillars-of-eternity/templates/actor/npc/actor-npc-main.html}}
                </div>
                <div class="tab effects save-scroll" data-tab="effects">
                    {{> systems/pillars-of-eternity/templates/actor/shared/actor-effects.html}}
                </div>
                <div class="tab powers save-scroll" data-tab="powers">
                    {{> systems/pillars-of-eternity/templates/actor/npc/actor-npc-powers.html}}
                </div>
                <div class="tab inventory save-scroll" data-tab="inventory">
                    {{> systems/pillars-of-eternity/templates/actor/shared/actor-inventory.html}}
                </div>
                <div class="tab details save-scroll" data-tab="details">
                    {{> systems/pillars-of-eternity/templates/actor/npc/actor-npc-details.html}}
                </div>
            </div>
        </section>
    </section>
</form>