.pillars-of-eternity h3 {
  border: none
}


.power-groups {
  display: flex;
  flex-wrap:wrap
}

.power-groups .power-group-container {
  border: 1px solid #333;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

.power-groups .power-group-container h3{
  text-decoration: underline;
  text-align: center;
}


.power-groups .power-group-container label {
  font-weight: bold;
}


.message .pillars-of-eternity.damage .damage-total,
  .message .pillars-of-eternity.check .check-total{
  flex: 0;
  font-size: var(--font-size-20);
  font-weight: bold;
  position: relative;
  margin: 0;
  margin-bottom: 5px;
  line-height: 24px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-border-light-2);
  border-radius: 3px;
  box-shadow: 0 0 2px #fff inset;
  word-break: break-all;
}

.message .pillars-of-eternity.check header {
  margin-bottom: 5px;
}


.message .pillars-of-eternity.check header .check-title{
  display: flex;
  align-items: center;
  margin: -10px 0px
}


.message .pillars-of-eternity.check header .check-title h3{
  margin: 0px;
}


.message .pillars-of-eternity.check header img{
  height: 40px;
  width: 40px;
  margin: 5px;
  border: none
}

.message .pillars-of-eternity.check .tags {
  display: flex;
  font-size: 12px;
  flex-wrap:wrap;
  align-items: center;
}
.message .pillars-of-eternity.check .tags i{
  font-size: 14px;
}


.message .pillars-of-eternity.check .tags .tag {
  border: 1px solid #666;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
}

.message .pillars-of-eternity.check .check-title .tags{
  flex-direction: column;
  flex: 1;
  align-items: flex-end;
}

.message .pillars-of-eternity.check button{
  margin-bottom: 5px;
}

.message .pillars-of-eternity.check button{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.message .pillars-of-eternity.check button img{
  height: 25px;
  width: 25px;
  flex: 0 0 25px;
  margin-right: 5px;
}

.message .misses {
  display: flex;
  justify-content: end;
  padding-right: 25px;
  margin: 10px 0px;
  align-items: center;
  padding-bottom: 2px;
}

.message .misses img {
  opacity: 0.5;
  width: 23px;
  height: 23px;
  margin: 0px 2px;
  border: none
}

.message .part-targets {
  display : flex;
  justify-content: end;
}

.message .part-targets img {
  width: 23px;
  height: 23px;  
  margin: 0px 2px;
  border : none;
}

.message .part-targets .shield img  {
  filter: invert(40.4%) sepia(0%) saturate(0%) hue-rotate( 
    0deg ) brightness(0%) contrast(119%);
    margin-bottom: -8px;
  }

  .message .part-targets .shield {
    opacity: 0.1;
  }
    .message .part-targets .shield.active {
    opacity: 0.4
  }

  .message .part-targets .target-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.dice-tooltip .part-header .part-total, 
.dice-tooltip .part-header .part-flavor, 
.dice-tooltip .part-header .part-formula {
  display: flex;
  align-items: center;
}