.pillars-of-eternity.item.sheet form{
  height: 100%
}
  .pillars-of-eternity.item.sheet .window-content{
  overflow: hidden
}
  .pillars-of-eternity.item.sheet .content{
  height: calc(100% - 145px);
  overflow-y: auto
}

.pillars-of-eternity.item.sheet .item-header {
  display: flex;
  width: 100%
}

.pillars-of-eternity.item.sheet .item-header .detail-row .form-group label,
.pillars-of-eternity.item.sheet .item-header > *{
  margin: 5px
}


.pillars-of-eternity.item.sheet .item-header .item-type {
  opacity: 0.5
}



.pillars-of-eternity.item.sheet .item-header .header-details{
  flex: 1
  }

  .pillars-of-eternity.item.sheet .item-header .header-details h1{
    height: 50px;
    }

    
  .pillars-of-eternity.item.sheet .item-header .header-details h1 input{
    height: 40px;
    }

  
  /* .pillars-of-eternity.item.sheet .items-list .row-content > *, 
    .pillars-of-eternity.item.sheet .items-list .item-header > * {
      flex: 1
  } */


  .pillars-of-eternity.item.sheet .item-header .detail-row input {
  min-width: 75px;
  max-width: 75px;
  text-align: center;
}

.pillars-of-eternity.item.sheet .item-header .detail-row .unit {
  opacity: 0.5;
  margin-left: 3px;
}

.pillars-of-eternity.item.sheet .item-header .detail-row{
  display:flex;
}

.pillars-of-eternity.item.sheet .item-header .detail-row .form-group{
  margin-left: 10px;
}
.pillars-of-eternity.item.sheet .item-header .detail-row .form-group:first-of-type{
  margin-left: 0px
}


.pillars-of-eternity.item.sheet .item-header img{
  width: 60px;
  height: 60px
}


.pillars-of-eternity.item.sheet .details.active,
.pillars-of-eternity.item.sheet .description.active {
  display: flex;
  flex-direction: column;
  height: calc(100% - 5px);
  overflow-x: hidden;
}

.pillars-of-eternity.item.sheet .editor{
  flex: 1
}


.pillars-of-eternity.item.sheet .details .xp-rank input{
  flex: 0 0 100px;
  text-align: center;
}

.pillars-of-eternity.item.sheet .details .form-fields label{
  flex: unset;
}

.pillars-of-eternity.item.sheet .details .xp-rank .form-fields{
  justify-content: flex-start;
}

.pillars-of-eternity.item.sheet .charges {
  display: flex;
  width : 100%;
  align-items: center;
}
.pillars-of-eternity.item.sheet .charges > * {
  margin: 3px;
}
.pillars-of-eternity.item.sheet .charges input {
  flex: 0 0 50px;
}
  .pillars-of-eternity.item.sheet .details input.rank {
  background: none;
  flex: 0 0 50px;
}

.pillars-of-eternity.item.sheet .details .form-group .small {
  justify-content: flex-start;
}
  .pillars-of-eternity.item.sheet .details .form-group .small input {
  flex: 0.3;
  text-align: center
}


  .pillars-of-eternity.item.sheet .details .form-group input.small {
  flex: 0.3;
  text-align: center
}
.pillars-of-eternity.item.sheet .details .base-effect-cost {
  flex: 0 0 70px;
  text-align: center;
}


.pillars-of-eternity.item.sheet .property-list {
  display:flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.pillars-of-eternity.item.sheet .property-list .property-inputs{
  display:flex;
  align-items: center;
}

.pillars-of-eternity.item.sheet .property-list .property-inputs > *{
  flex : 1;
  margin: 3px
}


.pillars-of-eternity.item.sheet .property-list .property-inputs .group{
  flex: 0 0 30px;
  text-align: center;
}

form .form-group.power-group {
  flex-direction: column;
  border-top: 1px groove #FFF
}

form .form-group.power-group h3 {
  margin: 0px;
  margin-top: 5px;
}

.pillars-of-eternity.item.sheet .property-list .property-inputs .power-property-form-group {
  display:flex;
  align-items: center;
  justify-content: center;
  flex: unset
}

.pillars-of-eternity.item.sheet .property-list .property-inputs .property-control {
  flex: 0 0 20px;
}

.pillars-of-eternity.item.sheet .property-list .property-inputs .power-property img {
  border: none;
  height: 25px;
  width: 25px;
}

.pillars-of-eternity.item.sheet .property-list .property-inputs .power-property.summon {
  align-items: center;
  display: flex;
}



.pillars-of-eternity.item.sheet .property-button{
  width: 100%;
  display: flex;
  justify-content: center;
}


.pillars-of-eternity.item.sheet .item-property-column input.embedded-power-edit{
  width: 30px;
  margin: 0px 5px;
}