#activity-menu {

  label {
    flex : 1;
  }

  .form-fields {
    flex : 3;
  }

  input[name='activity'] {
      flex: 4
  }
}

// -----------------------------------------------

.seasonal-activity {

  nav {
    border : 3px groove 
  }

  .tab-content {
    width: 100%
  }

  .study .text,
  .practice {
    display :flex;
    flex-direction: column;
    align-items: center;


    .item-header {
      display: flex;
      align-items: center;
      h3 {
        margin:0px
      }
    }
      select {
        width: fit-content
      }

    .xp {
      display: flex;
      align-items: center;
      input {
        width: 30px
      }
    }
  }

  
  .item-drag-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    align-items: center;

      .item-drag {
        flex: 1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .dragarea {
          margin: 5px 20px;
          border: 1px dotted black;
          height: 200px;
          width: 200px;
        }

        .dragarea.hover {
          box-shadow: 0 0 10px inset;
        }
      }
    }

  .directory {
    overflow: auto;
  }

  .window-content {
    overflow-y: hidden;

    > * {
      height: 100%
    }
  }

  .alert {
    color: red;
  }

  .warn {
    color : orange
  }
  
  .pass {
    color: green
  }


  .item-lists {
    display: flex;
    height: calc(100% - 60px);

    .item-list.skill {
      flex: 2
    }

    .item-list {
      display: flex;
      flex-direction: column;
      flex : 1;
      overflow-y: auto;
      input {
        flex: 0 0 40px;
        margin: 10px;
      }

      li {
        border-bottom: none;
        align-items: center;
      }

      li:last-of-type {
        border-bottom: 1px solid black
      }

    }
  }

  p {
    text-align: center;
  }

  input[type="number"] {
    text-align: center;
  }

  .rules {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > * {
      display: flex;
      align-items: center;
    }

    .experience {
      input {
        width: 30px;
        border: none;
      }
    }
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .book-details {
    display: flex;
    width: 100%;
    > * {
      flex: 1;
      display : flex;
      flex-direction: column;
      align-items: center;
    }
  }

}
