<form class="{{cssClass}}" autocomplete="off">
    <section class="general">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
        <div class="tier">
            <select name="data.tier.value">
                {{#select data.tier.value}}
                <option value=""></option>
                {{#each (config "tiers") as |tier t|}}
                <option value="{{t}}">{{tier}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <section class="defenses">
            <div class="property-group">
                <label>Def</label>
                <div class="property-value">
                    <input type="number" disabled title="{{tooltips.defenses.deflection}}" value="{{data.defenses.deflection.value}}" />
                </div>
                <div class="property-check">
                    {{#if data.defenses.deflection.checked}}
                    <a class="sheet-checkbox" data-target="data.defenses.deflection.checked"><i class="far fa-check-square"></i></a>
                    {{else}}
                    <a class="sheet-checkbox" data-target="data.defenses.deflection.checked"><i class="far fa-square"></i></a>
                    {{/if}}
                </div>
            </div>

            <div class="property-group">
                <label>Fort</label>
                <div class="property-value">
                    <input type="number" disabled title="{{tooltips.defenses.fortitude}}" value="{{data.defenses.fortitude.value}}" />
                </div>
                <div class="property-check">
                    {{#if data.defenses.fortitude.checked}}
                    <a class="sheet-checkbox" data-target="data.defenses.fortitude.checked"><i class="far fa-check-square"></i></a>
                    {{else}}
                    <a class="sheet-checkbox" data-target="data.defenses.fortitude.checked"><i class="far fa-square"></i></a>
                    {{/if}}
                </div>
            </div>

            <div class="property-group">
                <label>Ref</label>
                <div class="property-value">
                    <input type="number" disabled title="{{tooltips.defenses.reflexes}}" value="{{data.defenses.reflexes.value}}" />
                </div>
                <div class="property-check">
                    {{#if data.defenses.reflexes.checked}}
                    <a class="sheet-checkbox" data-target="data.defenses.reflexes.checked"><i class="far fa-check-square"></i></a>
                    {{else}}
                    <a class="sheet-checkbox" data-target="data.defenses.reflexes.checked"><i class="far fa-square"></i></a>
                    {{/if}}
                </div>
            </div>

            <div class="property-group">
                <label>Will</label>
                <div class="property-value">
                    <input type="number" disabled title="{{tooltips.defenses.will}}" value="{{data.defenses.will.value}}" />
                </div>
                <div class="property-check">
                    {{#if data.defenses.will.checked}}
                    <a class="sheet-checkbox" data-target="data.defenses.will.checked"><i class="far fa-check-square"></i></a>
                    {{else}}
                    <a class="sheet-checkbox" data-target="data.defenses.will.checked"><i class="far fa-square"></i></a>
                    {{/if}}
                </div>
            </div>

        </section>
        <hr>
        <section class="status">
            <div class="property-group {{#if actor.health.bloodied}}bloodied{{/if}}" >
                <label>Health</label>
                <div class="property-group stacked">
                    <input type="number" name="data.health.value" value="{{data.health.value}}" />
                    <hr>
                    <input type="number" title="{{tooltips.health.max}}" disabled value="{{data.health.max}}" />
                </div>
            </div>
            <div class="property-group {{#if actor.endurance.winded}}winded{{/if}}">
                <label>Endurance</label>
                <div class="property-group stacked">
                    <input type="number" name="data.endurance.value" value="{{data.endurance.value}}" />
                    <hr>
                    <input type="number" title="{{tooltips.endurance.max}}" disabled value="{{data.endurance.max}}" />
                </div>
            </div>
            <div class="property-stack">
                <div class="property-group small">
                    <label>Stride</label>
                    <div class="property-value">
                        <input type="number" name="data.stride.value" value="{{data.stride.value}}" />
                    </div>
                </div>
                <div class="property-group small initiative">
                    <label>Initiative<a title="Roll Initiative" class="roll-initiative"><img src="icons/dice/d10black.svg"/></a></label>
                    <div class="property-value">
                        <input type="number" title="{{tooltips.initiative.value}}" disabled value="{{data.initiative.value}}" />
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <section>
            <div class="wounds">
                <h4>Wounds ({{data.health.threshold.light}} / {{data.health.threshold.heavy}})</h4>
                <div class="wound-group">
                    <div class="wound-label">
                        <label>Light:</label> {{data.health.wounds.light}} 
                    </div>
                    <div class="wound-buttons">
                        <a class="subtract-wound" data-type="light"> <i class="far fa-minus-square"></i></a>
                        <a class="add-wound" data-type="light"> <i class="far fa-plus-square"></i></a>
                    </div>
    
                </div>
                <div class="wound-group">
                    <div class="wound-label">
                        <label>Heavy:</label> {{data.health.wounds.heavy}} 
                    </div>
                    <div class="wound-buttons">
                        <a class="subtract-wound" data-type="heavy"> <i class="far fa-minus-square"></i></a>
                        <a class="add-wound" data-type="heavy"> <i class="far fa-plus-square"></i></a>
                    </div>
    
                </div>
                <div class="wound-group">
                    <div class="wound-label">
                        <label>Severe:</label> {{data.health.wounds.severe}} 
                    </div>
                    <div class="wound-buttons">
                        <a class="subtract-wound" data-type="severe"> <i class="far fa-minus-square"></i></a>
                        <a class="add-wound" data-type="severe"> <i class="far fa-plus-square"></i></a>
                    </div>
                </div>
            </div>
            {{log this}}
            <div class="thresholds">
                <div>Bloodied</div> <input type="number" disabled value="{{data.health.bloodiedThreshold}}"/>
                <div>Winded</div> <input type="number" disabled value="{{data.endurance.windedThreshold}}"/>
            </div>
        </section>
    </section>

    </section>
    <section class="sheet-content">
        <div class="name-header">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
            </h1>
        </div>
        <div class="char-info">
            <div class="info-group">
                <label>Culture</label>
                <input type="text" disabled value="{{data.details.culture}}">
            </div>
            <div class="info-group">
                <label>Species</label>
                <input type="text" disabled value="{{data.details.species}}">
            </div>
            <div class="info-group">
                <label>Stock</label>
                <input type="text" disabled value="{{data.details.stock}}">
            </div>
            <div class="info-group age">
                <label>Apparent Age</label>
                <input type="text" disabled value="{{data.life.apparentAge}}">
            </div>
            <div class="info-group">
                <label>Size</label>
                <input type="text" disabled value="{{data.size.value}}">
            </div>
        </div>
        <section class="tab-section">
            <nav class="sheet-tabs tabs">
                <a class="item active" data-tab="main">Main</a>
                <a class="item" data-tab="combat">Combat</a>
                <a class="item" data-tab="effects">Effects</a>
                <a class="item" data-tab="powers">Powers</a>
                <a class="item" data-tab="inventory">Inventory</a>
                <a class="item" data-tab="details">Details</a>
            </nav>
            <div class="tab-content">
                <div class="tab main save-scroll" data-tab="main">
                    {{> systems/pillars-of-eternity/templates/actor/actor-main.html}}
                </div>
                <div class="tab combat save-scroll" data-tab="combat">
                    {{> systems/pillars-of-eternity/templates/actor/actor-combat.html}}
                </div>
                <div class="tab effects save-scroll" data-tab="effects">
                    {{> systems/pillars-of-eternity/templates/actor/actor-effects.html}}
                </div>
                <div class="tab powers save-scroll" data-tab="powers">
                    {{> systems/pillars-of-eternity/templates/actor/actor-powers.html}}
                </div>
                <div class="tab inventory save-scroll" data-tab="inventory">
                    {{> systems/pillars-of-eternity/templates/actor/actor-inventory.html}}
                </div>
                <div class="tab details save-scroll" data-tab="details">
                    {{> systems/pillars-of-eternity/templates/actor/actor-details.html}}
                </div>
            </div>
        </section>
    </section>
</form>