<div class="dialog-fields">
    <div class="quick-effect">
        <div>
            <label>Label</label>
            <div class="form-fields">
                <input type="text" class="label" name="label" value="{{label}}">
            </div>
        </div>

        <div>
            <label>Change</label>
            <select class="key" name="key">
                <option value="">-</option>
                <optgroup label="Defenses">
                    <option value="data.defenses.deflection.value">Deflection</option>
                    <option value="data.defenses.fortitude.value">Fortitude</option>
                    <option value="data.defenses.reflex.value">Reflex</option>
                    <option value="data.defenses.will.value">Will</option>
                </optgroup>
                <optgroup label="Condition">
                    <option value="data.health.modifier">Health Modifier</option>
                    <option value="data.health.death.modifier">Death Modifier</option>
                    <option value="data.endurance.bonus">Endurance Bonus</option>
                    <option value="data.endurance.penalty">Endurance Penalty</option>
                </optgroup>
                <optgroup label="Other">
                    <option value="data.stride.value">Stride</option>
                    <option value="data.run.value">Run</option>
                    <option value="data.initiative.value">Initiative</option>
                    <option value="data.soak.base">Soak</option>
                    <option value="data.toughness.value">Toughness</option>
                    <option value="data.damageIncrement.value">Damage Increment</option>
                </optgroup>
            </select>
        </div>

        <div>
            <label>Modifier</label>
            <div class="form-fields">
                <input type="number" class="modifier" name="modifier" value="0">
            </div>
        </div>
    </div>
</div>