<div class="dialog-fields">
    <div class="form-group">
        <label>Modifier</label>
        <div class="form-fields">
            <input type="text" name="modifier" value="{{modifier}}">
        </div>
    </div>
    <div class="form-group steps">
        <label>Steps</label>
        <div class="form-fields">
            <!-- <input type="number" name="steps" value="{{steps}}"> -->
            <select name="steps" value="{{steps}}">
                <option value="-5">-5</option>
                <option value="-4">-4</option>
                <option value="-3">-3</option>
                <option value="-2">-2</option>
                <option value="-1">-1</option>
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="text" name="step-dice" disabled value="">
        </div>
    </div>
    <div class="form-group">
        <label>Proxy</label>
        <div class="form-fields">
            <input type="checkbox" name="proxy" {{#unless hasRank}}disabled{{/unless}}>
        </div>
    </div>
    <div class="form-group">
        <label>Assistance</label>
        <div class="form-fields">
            <select name="assistance">
                <option value="">-</option>
                {{#each assisters as |actor a|}}
                <option value="{{actor.id}}">{{actor.name}} ({{actor.die}})</option>
                {{/each}}
            </select>
        </div>

    </div>
    <div class="form-group advantage-disadvantage">
        <div>
            <label>Advantaged</label>
            <input type="radio" id="state-adv" name="state" value="adv" {{checked state.adv}} />
        </div>
        <div>
            <label>Normal</label>
            <input type="radio" id="state-normal" name="state" value="normal" {{checked state.normal}} />
        </div>
        <div>
            <label>Disadvantaged</label>
            <input type="radio" id="state-dis" name="state" value="dis" {{checked state.dis}} />
        </div>
    </div>
</div>
<div class="effects">
    <select multiple class="effect-select">
        {{#each effects as |effect e|}}
        <option title="{{effect.description}}" value="{{e}}">{{effect.label}}</option>
        {{/each}}
    </select>
</div>