<hr>
{{#if check.doesDamage}}
<button type="button" class="roll-damage">{{localize "PILLARS.RollDamage"}}</button>
{{/if}}
{{#if check.doesHealing}}
<button type="button" class="roll-healing">{{localize "PILLARS.RollHealing"}}</button>
{{/if}}

{{log check.power}}
{{#if check.power.summons.length}}
    {{#each check.power.summons as |summon s|}}
    <button type="button" data-index="{{s}}" class="add-summon"><img src="{{summon.data.img}}">{{format {{localize "PILLARS.AddSummon"}} name=summon.data.name</button>
    {{/each}}
{{/if}}

{{#if check.targets.length}}
<div class="tags">
    <i class="fas fa-crosshairs"></i>
    {{#each check.targets as |target i|}}
    <div class="tag highlight-token" data-token-id="{{target.id}}">
        {{target.name}}
    </div>
    {{/each}}
</div>
{{/if}}



{{#if check.hasEffects}}
{{#each check.effects as |effect e|}}
<button type="button" data-effect="{{effect.id}}" class="apply-effect"><img src="{{effect.data.icon}}">{{format {{localize "PILLARS.ApplyEffect"}} name=effect.data.label}}</button>
{{/each}}
{{/if}}