<form class="{{cssClass}}" autocomplete="off">
    {{> systems/pillars-of-eternity/templates/item/item-header.html category=item.Type physical=false}}

    <nav class="sheet-tabs tabs">
        <a class="item active" data-tab="description">{{localize "PILLARS.Description"}}</a>
        <a class="item" data-tab="details">{{localize "PILLARS.Details"}}</a>
    </nav>

    <section class="content">
        {{> systems/pillars-of-eternity/templates/item/item-description.html}}

        <div class="tab details active" data-tab="details"> 
            <div class="form-group">
                <label>{{localize "PILLARS.Type"}}</label>
                <div class="form-fields">
                    <select name="system.category.value">
                        {{#select system.category.value}}
                        <option value=""></option>
                        {{#each (config "skillTypes") as |value k|}}
                        <option value="{{k}}">{{value}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PILLARS.Specialization"}}</label>
                <div class="form-fields">
                    <input type="checkbox" name="system.specialization.has" data-dtype="Number" {{checked system.specialization.has}}>

                    <input type="text" name="system.specialization.value" value="{{system.specialization.value}}" data-dtype="String" {{#unless system.specialization.has}}disabled{{/unless}}>
                </div>
            </div>

            <div class="form-group xp-rank">
                <label>{{localize "PILLARS.XPAndRank"}}</label>
                <div class="form-fields">
                    <input type="number" name="system.xp.value" value="{{system.xp.value}}" data-dtype="Number">
                    <input type="number" disabled value="{{item.system.xp.rank}}" data-dtype="Number">
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PILLARS.Requires"}}</label>
                <div class="form-fields">
                    <input type="text" name="system.requires.value" value="{{system.requires.value}}" data-dtype="String">
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PILLARS.Modifier"}}</label>
                <div class="form-fields">
                    <input type="number" name="system.modifier.value" value="{{system.modifier.value}}" data-dtype="Number">
                </div>
            </div>
        </div>


    </section>

</form>