<form class="{{cssClass}}" autocomplete="off">
    {{> systems/pillars-of-eternity/templates/item/item-header.html category=item.Type physical=true}}

    <nav class="sheet-tabs tabs">
        <a class="item active" data-tab="description">{{localize "PILLARS.Description"}}</a>
        <a class="item" data-tab="details">{{localize "PILLARS.Details"}}</a>
        <a class="item" data-tab="effects">{{localize "PILLARS.Effects"}}</a>
        <a class="item" data-tab="powers">{{localize "PILLARS.Powers"}}</a>
    </nav>

    <section class="content">
        {{> systems/pillars-of-eternity/templates/item/item-description.html}}

        <div class="tab details active" data-tab="details"> 

            <div class="form-group">
                <label>{{localize "PILLARS.Size"}}</label>
                <div class="form-fields">
                    <select name="system.size.value">
                        {{#select system.size.value}}
                        <option value=""></option>
                        {{#each (config "itemSizes") as |value k|}}
                        <option value="{{k}}">{{value}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            
            <div class="form-group">
                <label>{{localize "PILLARS.Type"}}</label>
                <div class="form-fields">
                    <select name="system.category.value">
                        {{#select system.category.value}}
                        <option value=""></option>
                        {{#each (config "equipmentTypes") as |value k|}}
                        <option value="{{k}}">{{value}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            {{#if (eq system.category.value "tool")}}
            <div class="form-group">
                <label>{{localize "PILLARS.Skill"}}</label>
                <div class="form-fields">
                    <input type="text" name="system.skill.value" value="{{system.skill.value}}" data-dtype="String">
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PILLARS.Suitability"}}</label>
                <div class="form-fields">
                    <select name="system.skill.suitability">
                        {{#select system.skill.suitability}}
                        {{#each (config "suitabilities") as |value k|}}
                        <option value="{{k}}">{{value}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            {{else if (eq system.category.value "gear")}}
            
            <div class="form-group">
                <label>{{localize "PILLARS.Wearable"}}</label>
                <div class="form-fields">
                    <input type="checkbox" name="system.wearable.value" value="{{system.wearable.value}}" {{checked system.wearable.value}}>
                </div>
            </div>

            {{else if (eq system.category.value "book")}}

            <div class="form-group">
                <label>{{localize "PILLARS.BookType"}}</label>
                <div class="form-fields">
                    <select name="system.subtype.value">
                        {{#select system.subtype.value}}
                        <option value=""></option>
                        {{#each (config "bookTypes") as |value k|}}
                        <option value="{{k}}">{{value}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PILLARS.Subject"}}</label>
                <div class="form-fields">
                    <input type="text" name="system.subject.value" value="{{system.subject.value}}" data-dtype="String">
                </div>
            </div>

            
            <div class="form-group">
                <label>{{localize "PILLARS.Language"}}</label>
                <div class="form-fields">
                    <input type="text" name="system.language.value" value="{{system.language.value}}" data-dtype="String">
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PILLARS.Training"}}</label>
                <div class="form-fields">
                    <input type="number" name="system.training.value" value="{{system.training.value}}" data-dtype="Number">
                </div>
            </div>


            <div class="form-group">
                <label>{{localize "PILLARS.SkillRequirement"}}</label>
                <div class="form-fields small">
                    <input class="array-edit" data-path="system.range" data-index="0" type="number" value="{{system.range.[0]}}" data-dtype="Number">
                    <input class="array-edit" data-path="system.range" data-index="1" type="number" value="{{system.range.[1]}}" data-dtype="Number">
                </div>
            </div>


            {{else if (eq system.category.value "maedr")}}

            <div class="form-group">
                <label>{{localize "PILLARS.GreaterQualities"}}</label>
                <div class="form-fields">
                    <input type="text" name="system.qualities.greater" value="{{system.qualities.greater}}" data-dtype="String">
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PILLARS.LesserQualities"}}</label>
                <div class="form-fields">
                    <input type="text" name="system.qualities.lesser" value="{{system.qualities.lesser}}" data-dtype="String">
                </div>
            </div>
            
            {{else}}

            {{/if}}       
        </div>

        {{> systems/pillars-of-eternity/templates/item/item-powers.html}}

        {{> systems/pillars-of-eternity/templates/item/item-effects.html}}

    </section>

</form>