<header>
    <div class="item-header">
        <div>
            <img class="item-image" src="{{item.img}}" data-edit="img" />
            <h3 class="item-type">{{category}}</h3>
        </div>
  
        <div class="header-details">
            <h1>
                <input name="name" class="item-name" type="text" value="{{item.name}}"
                    placeholder="{{localize 'Name'}}" />
            </h1>
            {{#if physical}}
            <div class="detail-row">
                <div class="form-group">
                    <label>{{localize "PILLARS.Cost"}}</label>
                    <input type="text" name="system.cost.value" value="{{system.cost.value}}"><span class="unit">cp</span>
                </div>
                <div class="form-group">
                    <label>{{localize "PILLARS.Weight"}}</label>
                    <input type="text" name="system.weight.value" value="{{system.weight.value}}"><span class="unit">ibs.</span>
                </div>
                <div class="form-group">
                    <label>{{localize "PILLARS.Quantity"}}</label>
                    <input type="text" name="system.quantity.value" value="{{system.quantity.value}}">
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</header>