<div class="tab description active" data-tab="description">
  <div class="note-section">
    <label>{{localize "PILLARS.Description"}}</label>
    {{editor system.description.value target="system.description.value" engine="prosemirror" button=true owner=owner editable=editable}}
  </div>
  {{#if (isGM)}}
    <div class="note-section">
      <label>{{localize "PILLARS.GMNotes"}}</label>
      {{editor system.description.gm target="system.description.gm" engine="prosemirror" button=true owner=owner editable=editable}}
    </div>
  {{/if}}
</div>