<form class="{{cssClass}}" autocomplete="off">
    {{> systems/pillars-of-eternity/templates/item/item-header.html category=item.Type physical=true}}

    <nav class="sheet-tabs tabs">
        <a class="item active" data-tab="description">{{localize "PILLARS.Description"}}</a>
        <a class="item" data-tab="details">{{localize "PILLARS.Details"}}</a>
        <a class="item" data-tab="effects">{{localize "PILLARS.Effects"}}</a>
        <a class="item" data-tab="powers">{{localize "PILLARS.Powers"}}</a>
    </nav>

    <section class="content">
        {{> systems/pillars-of-eternity/templates/item/item-description.html}}


        <div class="tab details active" data-tab="details"> 

            <div class="form-group">
                <label>{{localize "PILLARS.Deflection"}}</label>
                <div class="form-fields small">
                    <input type="number" name="data.deflection.value" value="{{data.deflection.value}}" data-dtype="Number">
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PILLARS.WindedThreshold"}}</label>
                <div class="form-fields small">
                    <input type="number" name="data.winded.value" value="{{data.winded.value}}" data-dtype="Number">
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PILLARS.Health"}}</label>
                <div class="form-fields small">
                    <input type="number" name="data.health.max" value="{{data.health.max}}" data-dtype="Number">
                </div>
            </div>

            <div class="form-group">
                <label>{{localize "PILLARS.Soak"}}</label>
                <div class="form-fields small">
                    <input type="number" name="data.soak.value" value="{{data.soak.value}}" data-dtype="Number">
                </div>
            </div>
            
        
        </div>

        {{> systems/pillars-of-eternity/templates/item/item-effects.html}}

        {{> systems/pillars-of-eternity/templates/item/item-powers.html}}


    </section>

</form>