<form autocomplete="off">
    <div class="form-group">
        <label>{{localize "PILLARS.AutomaticEffects"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="flags.pillars-of-eternity.autoEffects" {{checked object.data.flags.pillars-of-eternity.autoEffects}}>            
        </div>
        <p class="notes">{{localize "PILLARS.AutomaticEffectsHint"}}</p>
    </div>

    <button type="submit">{{localize "Submit"}}</button>
</form>