<div>
    <ol>
        <li class="damage section-header">
            <div class="damage-element">Label</div>
            <div class="damage-element">Base</div>
            <div class="damage-element target">Target</div>
        </li>
        {{#each healing as |heal d|}}

        <li class="damage" data-index={{d}}>
                <input type="text" class="damage-element label" placeholder="Label" value="{{heal.label}}"/>
                <input type="text" class="damage-element base" placeholder="Base" value="{{heal.value}}"/>
                <select class="damage-element type">
                    {{#select heal.type}}
                    <option value="health">Health</option>
                    <option value="endurance">Endurance</option>
                    {{/select}}
                </select>
                <div class="damage-element target">
                    <select class="target-select">
                    {{#select heal.target}}
                    <option value=""> - </option>
                    {{#each ../targets as |target t|}}
                    <option value="{{target.id}}">{{target.name}}</option>
                    {{/each}}
                    {{/select}}
                    </select>
                    <img src="{{heal.img}}" height="30" width="30">
                </div>
        </li>
        {{/each}}
    </ol>
    <div class="damage-control">
    <a class="add-damage"><i class="fas fa-plus-square"></i></a>
    </div>
    <button>Roll</button>
</div>