<div class="dialog-fields">
    <div class="quick-effect">
        <div>
            <label>{{localize "PILLARS.Label"}}</label>
            <div class="form-fields">
                <input type="text" class="label" name="label" value="{{label}}">
            </div>
        </div>

        <div>
            <label>{{localize "PILLARS.Change"}}</label>
            <select class="key" name="key">
                <option value="">-</option>
                <optgroup label="Defenses">
                    <option value="data.defenses.deflection.value">{{localize "PILLARS.Deflection"}}</option>
                    <option value="data.defenses.fortitude.value">{{localize "PILLARS.Fortitude"}}</option>
                    <option value="data.defenses.reflex.value">{{localize "PILLARS.Reflex"}}</option>
                    <option value="data.defenses.will.value">{{localize "PILLARS.Will"}}</option>
                </optgroup>
                <optgroup label="Condition">
                    <option value="data.health.modifier">{{localize "PILLARS.HealthModifier"}}</option>
                    <option value="data.health.death.modifier">{{localize "PILLARS.DeathModifier"}}</option>
                    <option value="data.health.threshold.bloodied">{{localize "PILLARS.BloodiedThreshold"}}</option>
                    <option value="data.health.threshold.incap">{{localize "PILLARS.IncapacitatedThreshold"}}</option>
                    <option value="data.endurance.bonus">{{localize "PILLARS.EnduranceBonus"}}</option>
                    <option value="data.endurance.penalty">{{localize "PILLARS.EndurancePenalty"}}</option>
                    <option value="data.endurance.threshold.winded">{{localize "PILLARS.WindedThreshold"}}</option>
                </optgroup>
                <optgroup label="Other">
                    <option value="data.stride.value">{{localize "PILLARS.Stride"}}</option>
                    <option value="data.run.value">{{localize "PILLARS.Run"}}</option>
                    <option value="data.initiative.value">{{localize "PILLARS.Initiative"}}</option>
                    <option value="data.soak.base">{{localize "PILLARS.Soak"}}</option>
                    <option value="data.soak.physical">{{localize "PILLARS.SoakPhysical"}}</option>
                    <option value="data.soak.burn">{{localize "PILLARS.SoakBurn"}}</option>
                    <option value="data.soak.freeze">{{localize "PILLARS.SoakFreeze"}}</option>
                    <option value="data.soak.raw">{{localize "PILLARS.SoakRaw"}}</option>
                    <option value="data.soak.corrode">{{localize "PILLARS.SoakCorrode"}}</option>
                    <option value="data.soak.shock">{{localize "PILLARS.SoakShock"}}</option>
                    <option value="data.toughness.value">{{localize "PILLARS.Toughness"}}</option>
                    <option value="data.damageIncrement.value">{{localize "PILLARS.DamageIncrement"}}</option>
                </optgroup>
            </select>
        </div>

        <div>
            <label>{{localize "PILLARS.Modifier"}}</label>
            <div class="form-fields">
                <input type="number" class="modifier" name="modifier" value="0">
            </div>
        </div>
    </div>
</div>