<form class="{{cssClass}}" autocomplete="off">
    {{> systems/pillars-of-eternity/templates/item/item-header.html category=item.type physical=false}}

    <nav class="sheet-tabs tabs">
      <a class="item" data-tab="details">{{localize "Details"}}</a>
      <a class="item" data-tab="effects">{{localize "Effects"}}</a>
    </nav>

    <section class="content">


        <div class="tab details active" data-tab="details">

            <div class="form-group">
                <label>Type</label>
                <select name="data.category.value">
                    {{#select data.category.value}}
                    {{#each (config "traitTypes") as |type t|}}
                    <option value="{{t}}">{{type}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <h2 class="note-section label">Description</h2>
          {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}


        </div>






        {{> systems/pillars-of-eternity/templates/item/item-effects.html}}

    </section>

</form>