<form class="{{cssClass}}" autocomplete="off">
    {{> systems/pillars-of-eternity/templates/item/item-header.html category=item.type physical=false}}

    <nav class="sheet-tabs tabs">
        <a class="item active" data-tab="description">{{localize "Description"}}</a>
        <a class="item" data-tab="details">{{localize "Details"}}</a>
        <a class="item" data-tab="effects">{{localize "Effects"}}</a>
    </nav>

    <section class="content">
        {{> systems/pillars-of-eternity/templates/item/item-description.html}}


        <div class="tab details active" data-tab="details"> 

            <div class="form-group">
                <label>Category</label>
                <select name="data.category.value">
                    {{#select data.category.value}}
                    {{#each (config "powerSourceTypes") as |value k|}}
                    <option value="{{k}}">{{value}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <div class="form-group">
                <label>Source</label>
                <div class="form-fields">
                    <select name="data.source.value">
                        {{#select data.source.value}}
                        <option value=""></option>
                        {{#each (config "powerSources") as |value k|}}
                        <option value="{{k}}">{{value}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

    
        
        </div>

        {{> systems/pillars-of-eternity/templates/item/item-effects.html}}

    </section>

</form>