<form class="{{cssClass}}" autocomplete="off">
    {{> systems/pillars-of-eternity/templates/item/item-header.html category=item.type physical=false}}

    <nav class="sheet-tabs tabs">
        <a class="item active" data-tab="description">{{localize "Description"}}</a>
        <a class="item" data-tab="details">{{localize "Details"}}</a>
        <a class="item" data-tab="effects">{{localize "Effects"}}</a>
    </nav>

    <section class="content">
        {{> systems/pillars-of-eternity/templates/item/item-description.html}}


        <div class="tab details active" data-tab="details"> 

            
            <div class="form-group">
                <label>XP</label>
                <div class="form-fields small">
                    <label>Free</label>
                    <input type="number" name="data.xp.free" value="{{data.xp.free}}" data-dtype="Number">
                    <label>Connections</label>
                    <input type="number" name="data.xp.connections" value="{{data.xp.connections}}" data-dtype="Number">
                </div>
            </div>

            <div class="form-group">
                <label>Starting CP</label>
                <div class="form-fields small">
                    <input type="number" name="data.cp.value" value="{{data.cp.value}}" data-dtype="Number">
                </div>
            </div>

            <div class="form-group">
                <label>Transition Cost</label>
                <div class="form-fields small">
                    <input type="number" name="data.transition.value" value="{{data.transition.value}}" data-dtype="Number">
                </div>
            </div>
        
        </div>

        {{> systems/pillars-of-eternity/templates/item/item-effects.html}}

    </section>

</form>