<form class="{{cssClass}}" autocomplete="off">
    {{> systems/pillars-of-eternity/templates/item/item-header.html category=item.Type physical=false}}

    <nav class="sheet-tabs tabs">
        <a class="item active" data-tab="description">{{localize "Description"}}</a>
        <a class="item" data-tab="effects">{{localize "Effects"}}</a>
        <a class="item" data-tab="powers">{{localize "Powers"}}</a>
    </nav>

    <section class="content">
        {{> systems/pillars-of-eternity/templates/item/item-description.html}}

        {{> systems/pillars-of-eternity/templates/item/item-effects.html}}

        {{> systems/pillars-of-eternity/templates/item/item-powers.html}}


    </section>

</form>