<form class="{{cssClass}}" autocomplete="off">
    {{> systems/pillars-of-eternity/templates/item/item-header.html category=item.Type physical=false}}

    <nav class="sheet-tabs tabs">
        <a class="item active" data-tab="description">{{localize "Description"}}</a>
        <a class="item" data-tab="details">{{localize "Details"}}</a>
        <a class="item" data-tab="effects">{{localize "Effects"}}</a>
    </nav>

    <section class="content">
        {{> systems/pillars-of-eternity/templates/item/item-description.html}}


        <div class="tab details active" data-tab="details"> 

            <div class="form-group">
                <label>Power Level</label>
                <div class="form-fields">
                    <input type="number" name="data.level.value" value="{{data.level.value}}" data-dtype="Number">
                </div>
            </div>

            <div class="form-group">
                <label>Power Cost</label>
                <div class="form-fields">
                    <input type="number" name="data.cost.value" value="{{data.cost.value}}" data-dtype="Number">
                </div>
            </div>

            <div class="form-group">
                <label>Power Source</label>
                <div class="form-fields">
                    <select name="data.source.value">
                        {{#select data.source.value}}
                        <option value=""></option>
                        {{#each (config "powerSources") as |value k|}}
                        <option value="{{k}}">{{value}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>

            </div>

            <div class="form-group">
                <label>Base Effects</label>
                <div class="form-fields">
                    <input type="text" name="data.base.value" value="{{data.base.value}}" data-dtype="String">
            </div>
            <input type="checkbox" name="data.base.ritual" value="{{data.base.ritual}}" {{checked data.base.ritual}}>
                    R

            </div>

            <div class="form-group">
                <label>Range</label>
                <select name="data.range.value">
                    {{#select data.range.value}}
                    {{#each (config "powerRanges") as |value k|}}
                    <option value="{{k}}">{{value}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <input type="checkbox" name="data.range.ritual" value="{{data.range.ritual}}" {{checked data.range.ritual}}>
                R
            </div>

        <div class="form-group">
                <label>Target</label>
                <div class="form-fields">
                <select name="data.target.value">
                    {{#select data.target.value}}
                    <option value=""></option>
                    {{#each (config "powerTargetTypes") as |value k|}}
                    <option value="{{k}}">{{value}}</option>
                    {{/each}}
                    {{/select}}
                </select>
                <select name="data.target.subtype">
                    {{#select data.target.subtype}}
                    <option value=""></option>
                    {{#each (config targetSubTypes) as |value k|}}
                    <option value="{{k}}">{{value}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <input type="checkbox" name="data.target.ritual" value="{{data.target.ritual}}" {{checked data.target.ritual}}>
            R
        </div>

        
        <div class="form-group">
            <label>Duration</label>
            <select name="data.duration.value">
                {{#select data.duration.value}}
                {{#each (config "powerDurations") as |value k|}}
                <option value="{{k}}">{{value}}</option>
                {{/each}}
                {{/select}}
            </select>
            <input type="checkbox" name="data.duration.ritual" value="{{data.duration.ritual}}" {{checked data.duration.ritual}}>
            R
        </div>
        
        <div class="form-group">
            <label>Speed</label>
            <select name="data.speed.value">
                {{#select data.speed.value}}
                {{#each (config "powerSpeeds") as |value k|}}
                <option value="{{k}}">{{value}}</option>
                {{/each}}
                {{/select}}
            </select>
            <input type="checkbox" name="data.speed.ritual" value="{{data.speed.ritual}}" {{checked data.speed.ritual}}>
            R
        </div>

        <div class="form-group">
            <label>Exclusion</label>
            <select name="data.exclusion.value">
                {{#select data.exclusion.value}}
                {{#each (config "powerExclusions") as |value k|}}
                <option value="{{k}}">{{value}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="form-group">
            <label>Limitations</label>
            <div class="form-fields">
                <input type="text" name="data.limitations.value" value="{{data.limitations.value}}" data-dtype="String">
            </div>
        </div>

        <h3>PL: {{item.data.data.pl}}</h3>
        
        </div>

        {{> systems/pillars-of-eternity/templates/item/item-effects.html}}

    </section>

</form>