<form class="{{cssClass}}" autocomplete="off">
    {{> systems/pillars-of-eternity/templates/item/item-header.html category=item.Type physical=false}}

    <nav class="sheet-tabs tabs">
        <a class="item active" data-tab="description">{{localize "Description"}}</a>
        <a class="item" data-tab="details">{{localize "Details"}}</a>
        <a class="item" data-tab="effects">{{localize "Effects"}}</a>
    </nav>

    <section class="content">
        {{> systems/pillars-of-eternity/templates/item/item-description.html}}


        <div class="tab details active" data-tab="details">

            <div class="form-group">
                <label>Power Level</label>
                <div class="form-fields">
                    <input type="number" disabled value="{{item.level.value}}" data-dtype="Number">
                    <input type="number" name="data.level.modifier" placeholder="Modifier" value="{{item.level.modifier}}" data-dtype="Number">
                </div>
            </div>

            <div class="form-group">
                <label>Power Source</label>
                <div class="form-fields">
                    <select name="data.source.value">
                        {{#select data.source.value}}
                        <option value=""></option>
                        {{#each (config "powerSources") as |value k|}}
                        <option value="{{k}}">{{value}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>

            </div>

            {{#if (eq data.source.value "spirits") }}
            <div class="form-group">
                <label>Type</label>
                <div class="form-fields">
                    <select name="data.category.value">
                        {{#select data.category.value}}
                        <option value=""></option>
                        <option value="phrase">Phrase</option>
                        <option value="invocation">Invocation</option>
                        {{/select}}
                    </select>
                </div>
            </div>
            {{/if}}


            <div class="form-group">
                <label>Improvised</label>
                <div class="form-fields">
                    <input type="checkbox" name="data.improvised.value" {{checked data.improvised.value}}>
                </div>
            </div>

            <div class="form-group">
                <label>Requires Roll</label>
                <div class="form-fields">
                    <input type="checkbox" name="data.roll.value" {{checked data.roll.value}}>
                </div>
            </div>

            <div class="form-group">
                <label>Speed</label>
                <div class="form-fields">
                    <select name="data.speed.value">
                        {{#select data.speed.value}}
                        {{#each (config "powerSpeeds") as |value k|}}
                        <option value="{{k}}">{{value}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <input type="text" name="data.speed.text" value="{{data.speed.text}}" placeholder="Text" data-dtype="String">
                </div>
            </div>

            <div class="form-group">
                <label>Limitations</label>
                <div class="form-fields">
                    <input type="text" name="data.limitations.value" value="{{data.limitations.value}}" data-dtype="String">
                </div>
            </div>

            <div class="form-group">
                <label>Base Abstract Modifier</label>
                <div class="form-fields">
                    <!-- <input type="text" name="data.base.value" value="{{data.base.value}}" data-dtype="String"> -->
                    <input class="base-effect-cost" type="text" name="data.base.cost" value="{{data.base.cost}}" data-dtype="Number">
                </div>
            </div>




            <hr>

            
            <div class="form-group power-group" data-property="base.effects">
                <h3>Effects <a class="add-property"><i class="fas fa-plus-square"></i></a></h3>
                <div class="property-list">
                    {{#each  item.base.effects as |effect i|}}
                    <div class="property-inputs" data-index="{{i}}">
                        <input type="text" data-path="group" class="power-property group" title="Group" value="{{effect.group}}">
                        <select class="power-property" data-path="value">
                            {{#select effect.value}}
                            <option value=""></option>
                            {{#if ../powerEffects.item}}
                            <optgroup label="Item">
                                {{#each ../powerEffects.item as |value k|}}
                                <option value="{{value.id}}">{{value.label}}</option>
                                {{/each}}
                            </optgroup>
                            {{/if}}
                            <optgroup label="Conditions">
                                {{#each ../powerEffects.conditions as |value k|}}
                                <option value="{{value.id}}">{{value.label}}</option>
                                {{/each}}
                            </optgroup>
                            {{/select}}
                        </select>
                        vs.
                        <select data-path="defense" class="power-property">
                            {{#select effect.defense}}
                            <option value="">-</option>
                            {{#each (config "defenses") as |defense def|}}
                            <option value="{{def}}">{{defense}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                        <input type="text" data-path="text" class="power-property" placeholder="Text" value="{{effect.text}}">
                        <div class="property-control">
                            <a class="remove-property"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            <hr>
             
            <div class="form-group power-group" data-property="damage.value">
                <h3>Damage <a class="add-property"><i class="fas fa-plus-square"></i></a></h3>
                <div class="property-list">
                {{#each item.damage.value as |damage i|}}
                <div class="property-inputs" data-index="{{i}}">
                    <input type="text" data-path="group" class="power-property group" title="Group" value="{{damage.group}}">
                    <input type="text" data-path="base" class="power-property" placeholder="Base" value="{{damage.base}}">
                    <input type="text" data-path="crit" class="power-property" placeholder="Crit" value="{{damage.crit}}">
                    <select data-path="type" class="power-property type">
                        {{#select damage.type}}
                        {{#each (config "damageTypes") as |type t|}}
                        <option value="{{t}}">{{type}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    vs.
                    <select data-path="defense" class="power-property">
                        {{#select damage.defense}}
                        {{#each (config "defenses") as |defense def|}}
                        <option value="{{def}}">{{defense}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <select data-path="damages" class="power-property">
                        {{#select damage.damages}}
                        <option value="health">Health</option>
                        <option value="endurance">Endurance</option>
                        {{/select}}
                    </select>
                    <input type="text" data-path="text" class="power-property" placeholder="Text" value="{{damage.text}}">
                    <div class="property-control">
                        <a class="remove-property"><i class="fas fa-times"></i></a>
                    </div>
                </div>
                {{/each}}
                </div>
            </div>

            <hr>
             
            <div class="form-group power-group" data-property="healing">
                <h3>Healing <a class="add-property"><i class="fas fa-plus-square"></i></a></h3>
                <div class="property-list">
                {{#each item.healing as |healing i|}}
                <div class="property-inputs" data-index="{{i}}">
                    <input type="text" data-path="group" class="power-property group" title="Group" value="{{healing.group}}">
                    <input type="text" data-path="value" class="power-property" value="{{healing.value}}">
                    <select data-path="type" class="power-property">
                        {{#select healing.type}}
                        <option value="health">Health</option>
                        <option value="endurance">Endurance</option>
                        {{/select}}
                    </select>
                    <div class="property-control">
                        <a class="remove-property"><i class="fas fa-times"></i></a>
                    </div>
                </div>
                {{/each}}
                </div>
            </div>

            <hr>

            <div class="form-group power-group" data-property="range">
                <h3>Range <a class="add-property"><i class="fas fa-plus-square"></i></a></h3>
                <div class="property-list">
                {{#each item.range as |range i|}}
                <div class="property-inputs" data-index="{{i}}">
                    <input type="text" data-path="group" class="power-property group" title="Group" value="{{range.group}}">
                    <select class="power-property" data-path="value">
                        {{#select range.value}}
                        {{#each (config "powerRanges") as |value k|}}
                        <option value="{{k}}">{{value}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <div class="property-control">
                        <a class="remove-property"><i class="fas fa-times"></i></a>
                    </div>
                </div>
                {{/each}}
                </div>
            </div>

            <hr>

            <div class="form-group power-group" data-property="target">
                <h3>Target <a class="add-property"><i class="fas fa-plus-square"></i></a></h3>
                <div class="property-list">
                    {{#each  item.target as |target i|}}
                    <div class="property-inputs" data-index="{{i}}">
                        <input type="text" data-path="group" class="power-property group" title="Group" value="{{target.group}}">
                        <select class="power-property" data-path="value">
                            {{#select target.value}}
                            <option value=""></option>
                            {{#each (config "powerTargetTypes") as |value k|}}
                            <option value="{{k}}">{{value}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                        <select class="power-property" data-path="subtype">
                            {{#select target.subtype}}
                            <option value=""></option>
                            {{#each target.subchoices as |value k|}}
                            <option value="{{k}}">{{value}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                        <select class="power-property" data-path="exclusion">
                            {{#select target.exclusion}}
                            {{#each (config "powerExclusions") as |value k|}}
                            <option value="{{k}}">{{value}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                        <div class="power-property-form-group" title="Targeted">
                            <label>T</label>
                            <input type="checkbox" class="power-property-checkbox" data-path="targeted" {{checked target.targeted}}>
                        </div>
                        <div class="property-control">
                            <a class="remove-property"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>


            <div class="form-group power-group" data-property="duration">
                <h3>Duration <a class="add-property"><i class="fas fa-plus-square"></i></a></h3>
                <div class="property-list">
                    {{#each  item.duration as |duration i|}}
                    <div class="property-inputs" data-index="{{i}}">
                        <input type="text" data-path="group" class="power-property group" title="Group" value="{{duration.group}}">
                        <select class="power-property" data-path="value">
                            {{#select duration.value}}
                            {{#each (config "powerDurations") as |value k|}}
                            <option value="{{k}}">{{value}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                        <div class="property-control">
                            <a class="remove-property"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            
            <div class="form-group power-group" data-property="misc">
                <h3>Misc. <a class="add-property"><i class="fas fa-plus-square"></i></a></h3>
                <div class="property-list">
                    {{#each  item.misc as |misc i|}}
                    <div class="property-inputs" data-index="{{i}}">
                        <input type="text" data-path="group" class="power-property group" title="Group" value="{{misc.group}}">
                        <input type="text" data-path="value" class="power-property" placeholder="Description" value="{{misc.value}}">
                        <input type="number" data-path="modifier" class="power-property group" title="Abstract Modifier" value="{{misc.modifier}}">
                        <div class="property-control">
                            <a class="remove-property"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>


            <h3>Abstract: {{item.data.data.pl}}</h3>

            <div class="power-groups">
                {{#each item.groups as |group g|}}
                    {{> systems/pillars-of-eternity/templates/partials/power-group.html group=group groupId=g}}
                {{/each}}
            </div>

        </div>

        {{> systems/pillars-of-eternity/templates/item/item-effects.html}}

    </section>

</form>