<form class="{{cssClass}}" autocomplete="off">
    {{> systems/pillars-of-eternity/templates/item/item-header.html category=item.Type physical=true}}

    <nav class="sheet-tabs tabs">
        <a class="item active" data-tab="description">{{localize "Description"}}</a>
        <a class="item" data-tab="details">{{localize "Details"}}</a>
        <a class="item" data-tab="effects">{{localize "Effects"}}</a>
    </nav>

    <section class="content">
        {{> systems/pillars-of-eternity/templates/item/item-description.html}}


        <div class="tab details active" data-tab="details"> 

            <div class="form-group">
                <label>Type</label>
                <div class="form-fields">
                    <select name="data.category.value">
                        {{#select data.category.value}}
                        <option value=""></option>
                        {{#each (config "armorTypes") as |value k|}}
                        <option value="{{k}}">{{value}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label>Soak</label>
                <div class="form-fields small">
                    <input type="number" name="data.soak.value" value="{{data.soak.value}}" data-dtype="Number">
                </div>
            </div>

            <div class="form-group">
                <label>Winded Threshold</label>
                <div class="form-fields small">
                    <input type="number" name="data.winded.value" value="{{data.winded.value}}" data-dtype="Number">
                </div>
            </div>

            <div class="form-group">
                <label>Initiative</label>
                <div class="form-fields small">
                    <input type="number" name="data.initiative.value" value="{{data.initiative.value}}" data-dtype="Number">
                </div>
            </div>

            <div class="form-group">
                <label>Stride</label>
                <div class="form-fields small">
                    <input type="number" name="data.stride.value" value="{{data.stride.value}}" data-dtype="Number">
                </div>
            </div>

            <div class="form-group">
                <label>Run</label>
                <div class="form-fields small">
                    <input type="number" name="data.run.value" value="{{data.run.value}}" data-dtype="Number">
                </div>
            </div>

            <div class="form-group">
                <label>Toughness</label>
                <div class="form-fields small">
                    <input type="number" name="data.toughness.value" value="{{data.toughness.value}}" data-dtype="Number">
                </div>
            </div>
            
        
        </div>

        {{> systems/pillars-of-eternity/templates/item/item-effects.html}}

    </section>

</form>