#activity-menu {

  label {
    flex : 1;
  }

  .form-fields {
    flex : 3;
  }

  input[name='activity'] {
      flex: 4
  }
}

// -----------------------------------------------

.seasonal-activity {

  .xp {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      width: 30px
    }
  }

  .dragarea.hover {
    box-shadow: 0 0 10px inset;
  }

  nav {
    border : 3px groove 
  }

  .tab-content {
    width: 100%
  }


  .imbuement.active,
  .study .text.active,
  .study .teacher.active,
  .practice {
    display :flex;
    flex-direction: column;
    align-items: center;


    .item-header {
      display: flex;
      align-items: center;
      h3 {
        margin:0px
      }
    }
      select {
        width: fit-content
      }

  }

  
  .item-drag-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: space-around;

      .item-drag {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .dragarea {
          margin: 5px 20px;
          border: 1px dotted black;
          height: 200px;
          width: 200px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }


    .imbuement {
      .item-drag-container {
        flex-direction: row;
      }
    }


  .directory {
    overflow: auto;
  }

  .window-content {
    overflow-y: hidden;

    > * {
      height: 100%
    }
  }

  .alert {
    color: red;
  }

  .warn {
    color : orange
  }
  
  .pass {
    color: green
  }


  .item-lists {
    display: flex;
    height: calc(100% - 60px);

    .item-list.skill {
      flex: 2
    }

    .item-list {
      display: flex;
      flex-direction: column;
      flex : 1;
      overflow-y: auto;
      input {
        flex: 0 0 40px;
        margin: 10px;
      }

      li {
        border-bottom: none;
        align-items: center;
      }

      li:last-of-type {
        border-bottom: 1px solid black
      }

    }
  }

  p {
    text-align: center;
  }

  input[type="number"] {
    text-align: center;
  }

  .rules {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > * {
      display: flex;
      align-items: center;
    }

    .experience {
      input {
        width: 30px;
        border: none;
      }
    }
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .item-details {
    display: flex;
    width: 100%;
    > * {
      flex: 1;
      display : flex;
      flex-direction: column;
      align-items: center;
    }

    .range-container {
      display: flex;
    }
  }

  .enchantment {

    .item-drag {
      .dragarea {
        height: 100px;
        width: 100px;
      }
    }

    .details {
      display : flex;
      justify-content: space-around;
      width: 100%;
      > *{
        display :flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .maedrs {
      width: 100%;
      height: fit-content;
      flex-direction: column;
      display: flex;
      align-items: center;
      text-align: center;
      .dragarea {
        height: 50px;
        border : 1px dotted black;
        border-radius: 5px;
        width: 100%;
      }

      .maedr-list {
        display: flex;
        justify-content: flex-start;
        > * {
          img {
            height: 30px;
            width : 30px;
            border: none
          }
          display: flex;
          flex-direction: column;

          .potency {
            display: flex;
            justify-content: space-around;
            .active {
              font-weight: bold;
            }
          }

        }
      }
    }

    .progress {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .progress-bar {
        width: 100%;
        .progress-bar-container {
          border: 1px solid black;
          height: 10px;
          border-radius : 10px;

          .progress-bar-fill {
            background-color: black;
            height: 100%;
            border-radius: 10px;
          }
        }
      }
    }

  }
}
