#seasons .window-content {
    overflow: hidden;
}

#seasons form {
    height: 100%
}

#seasons h2 {
    text-align: center;
}

#seasons .season-list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    height: calc(100% - 90px)
}

#seasons .controls {
    margin: 10px
}

#seasons input {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    background: none   
}

#seasons input:focus {
    box-shadow: none;
}

#seasons .year-input h3
{
    display: flex;
    align-items: center;
    width: 100px;
}

#seasons .year-input input {
    text-align: center;
    height: 18px;
    margin: 5px 5px;
}

#seasons .form-group label
{
    flex: none;
    width: 100px;
}

#seasons .season-details {
    padding-bottom: 25px;
    border-bottom: 1px inset #CCC
}




#roll-dialog .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#roll-dialog .form-group > * {
    flex: 1;
    display: flex;
}


#roll-dialog .form-group .form-fields {
    width: 100%;
    padding: 3px;
}


#roll-dialog .form-group .form-fields >* {
    width: 100%
}

#roll-dialog .form-group.steps .form-fields input,
    #roll-dialog .form-group.steps .form-fields select{
    width: 45px;
    text-align: center;
    margin-right: 3px;
}

#roll-dialog .form-group.advantage-disadvantage {
    margin: 10px 0px;
}

#roll-dialog .form-group.advantage-disadvantage > *{
    flex-direction: column;
    align-items: center;
}

#roll-dialog .dialog-buttons {
    justify-content: flex-end;
    max-height: 35px;
}

#roll-dialog .dialog-buttons button {
    height: 35px;
}

#roll-dialog option {
    background: unset
  }


#combat .phase-header {
    flex: unset;
    text-align: center
}

#combat #combat-round .encounters .switch-phase{
    flex: 1;
    margin: 0;
    font-size: 18px;
    text-align: center;
    color: unset
}

#combat .initiative-buttons {
    display: flex;
    width: 130px
}

#combat .initiative-buttons a[data-control="rollInitiativeAdv"] {
    filter : sepia(100%) saturate(1500%) brightness(70%) hue-rotate(380deg)
}

#combat .initiative-buttons a[data-control="rollInitiativeDis"] {
    filter : sepia(100%) saturate(1500%) brightness(70%) hue-rotate(280deg)
}


.dialog .quick-effect > * {
    margin: 5px;display: flex; align-items: center; justify-content: space-between;
}

#roll-dialog .dialog-content {
    display: flex;
}

#roll-dialog .dialog-fields {
    flex: 0 0 214px
}

#roll-dialog .effects {
    flex: 1;
    padding: 10px
}

#roll-dialog .effects option{
    white-space: normal;
}


#roll-dialog .effects .effect-select {
    width: 100%;
    height: 100%;
}

#healing-dialog h3,
#damage-dialog h3 {
    text-align: center;
    width: 100%
}
#healing-dialog li,
#damage-dialog li {
    list-style: decimal;
}

#healing-dialog li .damage-element,
#damage-dialog li .damage-element {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align:center;
}

#healing-dialog li .damage-element.control,
#damage-dialog li .damage-element.control {
    flex: 0 0 20px;
}

#healing-dialog li .damage-element.target,
#damage-dialog li .damage-element.target {
    display:flex;
    flex: 2
}

#healing-dialog li .damage-element.target img,
#damage-dialog li .damage-element.target img {
    border: none;
    margin: 3px;
}


#healing-dialog li .damage-element.mult-crit,
#damage-dialog li .damage-element.mult-crit {
    flex: 2
}

#healing-dialog li.damage-header,
#damage-dialog li.damage-header {
    flex: 1
}

#healing-dialog ol,
#damage-dialog ol {
    padding: 0px
}

#healing-dialog .damage,
#damage-dialog .damage {
    display: flex;
    align-items: center;
    padding: 5px 0px 5px 0px
}

#healing-dialog .damage input,
    #healing-dialog .damage select,
#damage-dialog .damage input,
    #damage-dialog .damage select {
    margin: 0px 5px 0px 5px;
    height: 25px;
}

#healing-dialog .damage .target select,
#damage-dialog .damage .target select {
    width: 100%
}


#healing-dialog .damage-control,
#damage-dialog .damage-control {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;;
}

.damage-inputs{
    display:flex;
    align-items: center;
  }
  
  .damage-inputs > *{
    flex : 1;
    margin: 3px
  }
  
#chat-log .post-item{
    padding: 5px;
}

#chat-log .post-item:hover {
    outline: 1px dotted black;
    cursor: pointer
}


#chat-log .post-item .post-img{
    display: flex;
    width: 100%;
    justify-content: center;
}

#chat-log .post-item h2 {
    text-align: center;
}

#chat-log .post-item img {
    border: none;
    height: 100px;
    width: 100px;
}

.active-effect-sheet .change-flags {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .active-effect-sheet .change-flags .conditional-code {
    flex: 0 0 20px;
    margin: 5px;
  }
  #effect-script-config textarea {
    width: 100%;
    height: calc(100% - 100px);
    resize: none;
  } 

  
#combat li.combatant .token-resource {
    display: flex;
    align-items: center;
    
}

#combat li.combatant .token-resource > *{
    padding: 0px 3px;
}

#combat li.combatant .token-resource .token-move {
    opacity: 0.5

}


#combat li.combatant .token-resource .token-move.running {
    opacity: 1;
    color: red
}



