#seasons .window-content {
    overflow: hidden;
}

#seasons form {
    height: 100%
}

#seasons h2 {
    text-align: center;
}

#seasons .season-list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    height: calc(100% - 90px)
}

#seasons .controls {
    margin: 10px
}

#seasons input {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    background: none   
}

#seasons input:focus {
    box-shadow: none;
}

#seasons .year-input h3
{
    display: flex;
    align-items: center;
    width: 100px;
}

#seasons .year-input input {
    text-align: center;
    height: 18px;
    margin: 5px 5px;
}

#seasons .form-group label
{
    flex: none;
    width: 100px;
}

#seasons .season-details {
    padding-bottom: 25px;
    border-bottom: 1px inset #CCC
}




#roll-dialog .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#roll-dialog .form-group > * {
    flex: 1;
    display: flex;
}


#roll-dialog .form-group .form-fields {
    width: 100%
}


#roll-dialog .form-group .form-fields >* {
    width: 100%
}

#roll-dialog .form-group.advantage-disadvantage {
    margin: 10px 0px;
}

#roll-dialog .form-group.advantage-disadvantage > *{
    flex-direction: column;
    align-items: center;
}


#combat .phase-header {
    flex: unset;
    text-align: center
}

#combat #combat-round .encounters .switch-phase{
    flex: 1;
    margin: 0;
    font-size: 18px;
    text-align: center;
    color: unset
}