@import "styles/actor/actor-sheet";
@import "list";
@import "apps/time-tracker";


.pillars-of-eternity {
    input[type="number"] {
        text-align: center;
    }

    a {
        cursor: pointer;
    }

    img {
        border: none;
    }

    .progress-bar {
        width: 100%;

        .progress-bar-container {
            width: 100%;
            height: 10px;
            border-radius: 5px;
            border: 1px solid black;

            .progress {
                background: black;
                border-radius: 5px;
                height: 100%;
            }
        }
    }

}