@import "styles/actor/actor-sheet";
@import "list";


.pillars-of-eternity {
    input[type="number"] {
        text-align: center;
    }

    a {
        cursor: pointer;
    }

    img {
        border: none;
    }

}