<form autocomplete="off">
    <div class="form-group">
        <label>{{localize "PILLARS.Activity"}}</label>
        <div class="form-fields">
            <select class="activity-select">
                <option value=""></option>
                {{#each activities as |activity index|}}
                <option value="{{index}}">{{activity}}</option> 
                {{/each}}
            </select> 
            
            <input type="text" name="activity">
        </div>
    </div>

    <button type="submit">{{localize "Submit"}}</button>
</form>