<div class="adventure">
    <header>
        <div class="rules">
            <div class="3into3">
                <span class="status"></span>
                <a class="alert" style="display: none"><i class="fas fa-exclamation-circle"></i></a>
            </div>

            <div class="experience">
                <a class="alert" style="display: none"><i class="fas fa-exclamation-circle"></i></a>
                XP
                <input type="number" class="availableExp" readonly value="{{experience}}">
                /
                <input type="number" class="totalExp" {{#unless editableExperience}}readonly{{/unless}} value="{{experience}}">
            </div>

        </div>

    </header>

    <div class="item-lists disabled">

        <div class="item-list skills">

            <p><strong>{{localize "PILLARS.Skills"}}</strong></p>
            <div class="directory">
                <ol class="directory-list">
                    {{#each skills as |item i|}}
                    <li class="directory-item document item flexrow" data-id="{{item.id}}">
                        <img class="thumbnail" src="{{item.data.img}}">
                        <h4 class="document-name">{{item.name}}</h4>
                        <input class="item-experience" type="number">
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>


        <div class="item-list">

            <p><strong>{{localize "PILLARS.PowerSources"}}</strong></p>
            <div class="directory">
                <ol class="directory-list">
                    {{#each powerSources as |item i|}}
                    <li class="directory-item document item flexrow" data-id="{{item.id}}">
                        <img class="thumbnail" src="{{item.data.img}}">
                        <h4 class="document-name">{{item.name}}</h4>
                        <input class="item-experience" type="number">
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>

        <div class="item-list">

            <p><strong>{{localize "PILLARS.Connections"}}</strong></p>
            <div class="directory">
                <ol class="directory-list">
                    {{#each connections as |item i|}}
                    <li class="directory-item document item flexrow" data-id="{{item.id}}">
                        <img class="thumbnail" src="{{item.data.img}}">
                        <h4 class="document-name">{{item.name}}</h4>
                        <input class="item-experience" type="number">
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>

    </div>

    <button type="submit">{{localize "Submit"}}</button>

</div>