<form>
    <div>
        <header>
            <h3>Select or drag a Skill item to Practice</h3>
        </header>

        <div class="skill item-group">
            <div class="item-header">
                <h3 class="item-name"></h3>
                <a class="alert" title="{{localize 'PILLARS.CantPracticeSkill'}}" style="display: none"><i
                        class="fas fa-exclamation-circle"></i></a>
            </div>
            <div class="item-drag">
                <div class="dragarea">
                    <img src="">
                </div>
            </div>

            <select>
                <option value=""></option>
                {{#each skills as |skill index|}}
                    <option value="{{skill.id}}">{{skill.name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="xp-footer">
            XP Received:
            <input type="number">
        </div>
    </div>
    <button type="submit">{{localize "Submit"}}</button>
</form>